In [5]:
import pandas as pd

In [6]:
file_load = "Resources/purchase_data.csv"

In [12]:
file_load_df = pd.read_csv(file_load)
file_load_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [208]:
file_load_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
Age Group      780
dtype: int64

In [222]:
### Player Count ###

In [221]:
# Calculate the total unique players
player_count = len(file_load_df["SN"].unique())
player_count

576

In [223]:
### Purchasing Analysis ###

In [224]:
# Calculate the Purchasing Analysis items
uniquie_item_count = len(file_load_df["Item ID"].unique())
price_mean = file_load_df["Price"].mean()
purch_count = file_load_df["Purchase ID"].count()
purch_price_sum = file_load_df["Price"].sum()

# Place all of the Purchasing Analysis items in a summary DataFrame
purch_summary_df = pd.DataFrame({"Number of Unique Items": [uniquie_item_count],
                              "Average Purchase Price": price_mean,
                              "Total Number of Purchases": purch_count,
                              "Total Revenue": purch_price_sum})
purch_summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [129]:
### Gender Demographics ###

In [225]:
#Dedup data to create temp table
player_gender = file_load_df[["SN","Gender"]]
player_gender.sort_values("SN", inplace = True) 
player_gender.drop_duplicates(keep="first", inplace=True)

C:\Users\felip\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\felip\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [130]:
#calculate items for summary
group_gender = player_gender.groupby(["Gender"])
gender_counts = group_gender["SN"].count()
gender_total = player_gender["SN"].count()
gender_pct = gender_counts / gender_total

In [226]:
#create summary
gender_summary_df = pd.DataFrame({"Total Count": gender_counts, 
                                  "Percentage of Players": gender_pct})
gender_summary_df

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [207]:
### Purchasing Analysis (Gender) ###

In [207]:
gender_groupings = file_load_df.groupby(["Gender"])
gender_purch_cnts = gender_groupings["Purchase ID"].count()
gender_purch_price_sum = gender_groupings["Price"].sum()
gender_avg_purch_price = gender_purch_price_sum / gender_purch_cnts

gender_purch_summary_df = pd.DataFrame({"Purchase Count": gender_purch_cnts, 
                                        "Average Purchase Price": gender_avg_purch_price,
                                        "Total Purchase Value": gender_purch_price_sum})
gender_purch_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [154]:
### Age Demographics ###

In [154]:
# Figure out the minimum and maximum age of purchaser
print(file_load_df["Age"].max())
print(file_load_df["Age"].min())

45
7

In [199]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 49]

age_labels = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+" ]

In [200]:
pd.cut(file_load_df["Age"], age_bins, labels=age_labels).head()

0    20 to 24
1         40+
2    20 to 24
3    20 to 24
4    20 to 24
Name: Age, dtype: category
Categories (8, object): [<10 < 10 to 14 < 15 to 19 < 20 to 24 < 25 to 29 < 30 to 34 < 35 to 39 < 40+]

In [203]:
file_load_df["Age Group"] = pd.cut(file_load_df["Age"], age_bins, labels=age_labels)
file_load_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [204]:
#dedup org file to create age temp table
reduced_file = file_load_df[["SN","Age","Age Group"]]
reduced_file.sort_values("SN", inplace = True) 
reduced_file.drop_duplicates(keep="first", inplace=True)

#calculate Age Demo items for binned summary
age_groupings = reduced_file.groupby("Age Group")
age_counts = age_groupings["Age"].count()
age_total_lines = reduced_file["Age"].count()
age_pct = age_counts / age_total_lines

#create summary based on age bins, count of players, and percentage of players per bin  
age_bins_summary_df = pd.DataFrame({"Total Count": age_counts, 
                                  "Percentage of Players": age_pct})
age_bins_summary_df

C:\Users\felip\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\felip\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

           Total Count  Percentage of Players
Age Group
<10                 17               0.029514
10 to 14            22               0.038194
15 to 19           107               0.185764
20 to 24           258               0.447917
25 to 29            77               0.133681
30 to 34            52               0.090278
35 to 39            31               0.053819
40+                 12               0.020833